@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
svg {
  width: 3rem;
  height: 3rem;
  fill: white;
}
a {
  text-decoration: none;
}
body {
  /* overflow-x: hidden; */
  background-color: #e5e5e5;
}
/*  */
/* header */
header {
  width: 100%;
  background-image: url(/image/hgghh-min.jpg);
  background-position: center;
  background-size: cover;
  height: 130vh;
  overflow: hidden;
}
.header1 {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 4rem;
}
.header {
  max-width: 45%;
  padding: 8rem 4rem 8rem 2rem;
  border: 3px solid white;
  animation: rrr 3s linear;
}
@keyframes rrr {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0%);
  }
}
.header h1 {
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-bottom: 1.3rem;
}
.header p {
  font-size: 25px;
  margin-bottom: 1rem;
}
.h {
  max-width: 50%;
  border: 3px solid white;
  color: white;
  border-radius: 5rem;
  padding: 0.8rem 2rem;
}
/* end of header */

/* main */
main {
  width: 100%;
}

/* container */
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hh {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  padding-top: 2rem;
  animation: rrrv 2s ease-out backwards;
  animation-delay: 5s;
}
@keyframes rrrv {
  0% {
  }
  70% {
    transform: translatey(-700px);
  }
}
/* start of grid column */
.grid1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
  /* margin-top: 4rem; */
}
.grid {
  width: 100%;
  padding: 0rem 0 2rem 0;
  box-shadow: 1px gray;
  background-color: white;
  text-align: center;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty {
  width: 100%;
  height: 0.3rem;
  background-color: #c1b688;
}
.t {
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 1rem;
}
.grid :nth-child(4) {
  width: 100%;
  font-size: 17px;
  font-weight: 100;
  font-style: italic;
  padding: 0 2rem 0 2rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.icon {
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1b688;
  border: 1px solid white;
  animation: fff 1s linear;
  transition: 1s;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* end of grid column */
@keyframes fff {
  from {
    transform: translateX(100%) scale(0.5 );
  }
  to {
    transform: translateX(0%) scale(1) rotate(360deg);
  }
}
/* start of image container */
.image-container {
  width: 100%;
  height: 245vh;
  position: relative;
}
.decorating1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.decorating {
  max-width: 50%;
  padding: 3rem 2rem;
  border: 1px solid white;
  box-shadow: 0 0 15px gray;
  background-color: white;
}
.decorating .d {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 2rem;
}
.decorating :nth-child(2) {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.learn p {
  border: 1px solid #c1b688;
  width: 25%;
  text-align: center;
  background-color: #c1b688;
  padding: 0.5rem 0;
  border-radius: 5rem;
}

.decorating1 {
  position: absolute;
  top: 3rem;
  z-index: 999;
}

.img1 {
  width: 25rem;
  position: absolute;
  top: 10rem;
  left: 4rem;
  /* animation: rrrt 2s linear; */
}
@keyframes rrrt {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }
}
.img1 > img {
  width: 100%;
  height: 100%;
}

.img2 {
  width: 40rem;
  position: absolute;
  left: 35rem;
  top: 20rem;
  /* animation: rrrt 2s linear; */
}

.img2 > img {
  width: 100%;
  height: 100%;
}

.img3 {
  width: 30rem;
  position: absolute;
  top: 42rem;
  left: 19rem;
  z-index: 999;
}
.img3 > img {
  width: 100%;
  height: 100%;
}

.img4 {
  width: 30rem;
  position: absolute;
  top: 58rem;
  left: 45rem;
}
.img4 > img {
  width: 100%;
  height: 100%;
}
.texted {
  width: 30rem;
  position: absolute;
  top: 72rem;
  left: 4rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}
.empty1 {
  width: 1rem;
  height: 40vh;
  background-color: #666666;
}
.texted1 {
  max-width: 90rem;
  line-height: 1.5rem;
  font-size: 16px;
  font-weight: 800;
  color: #909090;
}
/* end of image-container */
section {
  width: 100%;
  height: 145vh;
  background: white;
}
.real-time {
  width: 100%;
  position: relative;
}
.jimg {
  width: 40rem;
  position: absolute;
  top: 5rem;
  left: 8rem;
  z-index: 999;
}
.jimg > img {
  width: 100%;
  height: 100%;
}
.real {
  width: 30rem;
  position: absolute;
  top: 9rem;
  left: 41rem;
  z-index: 999;
}
.real1 {
  max-width: 100%;
  border: 1px solid white;
  background: white;
  padding: 3rem 2rem;
}
.re {
  font-size: 60px;
  margin-bottom: 1.5rem;
}
.real1 :nth-child(2) {
  font-size: 25px;
  color: gray;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.learnt {
  border: 1px solid #c1b688;
  width: 25%;
  text-align: center;
  background-color: #c1b688;
  padding: 1rem 0;
  border-radius: 5rem;
}
.rempty {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #e6e1cb;
  border-radius: 15rem;
  top: 3rem;
  left: 62rem;
}
.rempty1 {
  position: absolute;
  width: 40rem;
  height: 20rem;
  background-color: #c1b688;
  top: 30rem;
  left: 35rem;
}
.rempty3 {
  position: absolute;
  fill: #c1b688;
  top: 38rem;
  z-index: 999;
  left: -10rem;
}
.rempty3 > svg {
  width: 40rem;
  height: 40vh;
  fill: #c1b688;
}
