@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
svg {
  width: 3rem;
  height: 3rem;
  fill: white;
}
a {
  text-decoration: none;
}
body {
  background-color: #e5e5e5;
}
/*  */
/* header */
header {
  width: 100%;
  background-image: url(/image/hgghh-min.jpg);
  background-position: center;
  background-size: cover;
  height: 130vh;
  overflow: hidden;
}
.header1 {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 4rem;
}
.header {
  max-width: 45%;
  padding: 8rem 4rem 8rem 2rem;
  border: 3px solid white;
  /* animation: rrr 3s linear; */
}
.header h1 {
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-bottom: 1.3rem;
}
.header p {
  font-size: 25px;
  margin-bottom: 1rem;
}
.h {
  max-width: 50%;
  border: 3px solid white;
  color: white;
  border-radius: 5rem;
  padding: 0.8rem 2rem;
}
.h:hover {
  background-color: white;
  border: 3px solid white;
  color: #c1b688;
}
/* end of header */

/* main */
main {
  width: 100%;
}

/* container */
.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hh {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  padding-top: 2rem;
}

/* start of grid column */
.grid1 {
  /* width: 100%; */
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 3rem;
  /* margin-top: 4rem; */
}
.grid {
  /* width: 100%; */
  /* padding: 0rem 0 2rem 0; */
  box-shadow: 1px gray;
  background-color: white;
  text-align: center;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty {
  width: 100%;
  height: 0.3rem;
  background-color: #c1b688;
}
.t {
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 1rem;
}
.grid :nth-child(4) {
  width: 100%;
  font-size: 17px;
  font-weight: 100;
  font-style: italic;
  padding: 0 2rem 0 2rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.icon {
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1b688;
  border: 1px solid white;
  animation: fff 1s linear;
  transition: 1s;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* end of grid column */
@keyframes fff {
  from {
    transform: translateX(100%) scale(0.5);
  }
  to {
    transform: translateX(0%) scale(1) rotate(360deg);
  }
}
/* start of image container */
.image-container {
  width: 100%;
  height: 245vh;
  position: relative;
}
.decorating1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.decorating {
  max-width: 50%;
  padding: 3rem 2rem;
  border: 1px solid white;
  box-shadow: 0 0 15px gray;
  background-color: white;
}
.decorating .d {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 2rem;
}
.decorating :nth-child(2) {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.learn p {
  border: 2px solid #c1b688;
  width: 25%;
  text-align: center;
  background-color: #c1b688;
  padding: 1rem 0;
  border-radius: 5rem;
  color: white;
}
.learn p:hover {
  background-color: white;
  color: #c1b688;
}

.decorating1 {
  position: absolute;
  top: 3rem;
  z-index: 999;
}

.img1 {
  width: 30%;
  position: absolute;
  top: 10rem;
  left: 4rem;
}

.img1 > img {
  width: 100%;
  height: 100%;
}

.img2 {
  width: 50%;
  position: absolute;
  left: 35rem;
  top: 20rem;
  /* animation: rrrt 2s linear; */
}

.img2 > img {
  width: 100%;
  height: 100%;
}

.img3 {
  width: 40%;
  position: absolute;
  top: 42rem;
  left: 19rem;
  z-index: 999;
}
.img3 > img {
  width: 100%;
  height: 100%;
}

.img4 {
  width: 38%;
  position: absolute;
  top: 58rem;
  left: 45rem;
}
.img4 > img {
  width: 100%;
  height: 100%;
}
.texted {
  width: 30%;
  position: absolute;
  top: 72rem;
  left: 4rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
}
.empty1 {
  width: 1rem;
  height: 40vh;
  background-color: #666666;
}
.texted1 {
  max-width: 90%;
  line-height: 1.5rem;
  font-size: 16px;
  font-weight: 800;
  color: #909090;
}
/* end of image-container */

/* section */
section {
  width: 100%;
  height: 145vh;
  background: white;
}
.real-time {
  width: 100%;
  position: relative;
  padding: 2rem;
}
.jimg {
  width: 40rem;
  position: absolute;
  top: 5rem;
  left: 8rem;
  z-index: 999;
}
.jimg > img {
  width: 100%;
  height: 100%;
}
.real {
  width: 30rem;
  position: absolute;
  top: 9rem;
  left: 41rem;
  z-index: 999;
}
.real1 {
  max-width: 100%;
  border: 1px solid white;
  background: white;
  padding: 3rem 2rem;
}
.re {
  font-size: 60px;
  margin-bottom: 1.5rem;
}
.real1 :nth-child(2) {
  font-size: 25px;
  color: gray;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.learnt p {
  border: 2px solid #c1b688;
  width: 35%;
  text-align: center;
  background-color: #c1b688;
  padding: 1rem 0;
  border-radius: 5rem;
  color: white;
}
.learnt p:hover {
  background-color: white;
  color: #c1b688;
}

.rempty {
  position: absolute;
  width: 15rem;
  height: 15rem;
  background-color: #e6e1cb;
  border-radius: 15rem;
  top: 3rem;
  left: 62rem;
}
.rempty1 {
  position: absolute;
  width: 40rem;
  height: 20rem;
  background-color: #c1b688;
  top: 30rem;
  left: 35rem;
}
.rempty3 {
  position: absolute;
  fill: #c1b688;
  top: 38rem;
  z-index: 999;
  left: -10rem;
}
.rempty3 > svg {
  width: 40rem;
  height: 40vh;
  fill: #c1b688;
}
/* end of section */

/* selection-container */
.section-container {
  width: 100%;
}
.driven {
  width: 100%;
  height: 70vh;
}
.we {
  text-align: center;
}
.we > p {
  margin: 3rem 0 1rem 0;
  font-size: 50px;
  font-weight: 100;
}
.ven {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ven > p {
  font-size: 18px;
  max-width: 50%;
  line-height: 1.5rem;
}
.concept-container1 {
  width: 100%;
  height: 140vh;
}
.concept-container {
  position: relative;
  padding-left: 2rem;
  width: 100%;
  height: 50vh;
  background-color: #c1b688;
}
.concept1 {
  position: absolute;
  top: -13rem;
  max-width: 30%;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.concept-image {
  width: 100%;
  height: 100%;
}
.concept-image > img {
  width: 90%;
  margin-bottom: 1rem;
}
.cp {
  font-size: 20px;
  margin-bottom: 2rem;
}
.concept1 p {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2rem;
}
.mo {
  margin-bottom: 5rem;
  text-decoration: underline;
}
.mo > a {
  color: black;
}
.concept2 {
  position: absolute;
  top: -5rem;
  left: 27.5rem;
  max-width: 30%;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.concept2 p {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2rem;
}
.concept3 {
  position: absolute;
  left: 53rem;
  top: 2rem;
  max-width: 30%;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
.concept3 p {
  width: 100%;
  margin-bottom: 2rem;
  line-height: 2rem;
}
/* end of selection-container */

/* responsiveness */
@media (max-width: 1225px) {
  .rempty {
    left: 60rem;
  }
  .h {
    max-width: 60%;
  }
  .learn p {
    width: 40%;
  }
}
@media (max-width: 1203px) {
  header {
    width: 100%;
    background-image: url(/image/hgghh-min.jpg);
    background-position: center;
    background-size: cover;
    height: 140vh;
    overflow: hidden;
  }
  .h {
    max-width: 60%;
  }
  .decorating {
    max-width: 40%;
  }
  .img1 {
    width: 22rem;
    left: 8rem;
  }
  .img2 {
    width: 35rem;
    left: 32rem;
  }
  .img3 {
    width: 27rem;
    top: 39rem;
  }
  .img4 {
    width: 21rem;
    height: 25rem;
    left: 46rem;
  }
  .texted {
    left: 8rem;
    width: 60%;
  }
  .jimg {
    width: 40vw;
    height: 90vh;
  }
  .real {
    left: 31rem;
  }
  .rempty {
    left: 52rem;
  }
  .rempty1 {
    left: 25rem;
    top: 28rem;
  }
  .rempty3 {
    top: 30rem;
    left: -8rem;
  }
  .concept1 {
    max-width: 25%;
    left: 7rem;
  }
  .concept2 {
    max-width: 25%;
    left: 28.5rem;
  }
  .concept3 {
    max-width: 25%;
    left: 50rem;
  }
}
@media (max-width: 1091px) {
  header {
    width: 100%;
    background-image: url(/image/hgghh-min.jpg);
    background-position: center;
    background-size: cover;
    height: 140vh;
    overflow: hidden;
  }
  .header {
    padding: 6rem 4rem 6rem 2rem;
    max-width: 60%;
    font-size: 40px;
  }
  .header h1 {
    font-size: 50px;
    font-weight: 600;
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid {
    width: 100%;
  }
  .img1 {
    width: 25%;
    height: 60vh;
    top: 16rem;
    left: 4rem;
  }
  .img2 {
    width: 25rem;
    height: 65vh;
    top: 25rem;
    left: 23rem;
  }
  .img3 {
    width: 20rem;
    top: 45rem;
    left: 13rem;
  }
  .img4 {
    width: 18rem;
    height: 25rem;
    left: 30rem;
  }
  .texted {
    top: 70rem;
    left: 4rem;
  }
  .jimg {
    /* width: 30rem; */
    top: 5rem;
    left: 8rem;
  }
  .rempty3 {
    left: -12rem;
  }
  section {
    width: 100%;
    height: 220vh;
    background: white;
  }
  .real {
    width: 25rem;
    left: 20rem;
    top: 34rem;
  }
  .rempty {
    height: 9rem;
    width: 9rem;
    border-radius: 9rem;
    top: 30rem;
    left: 39rem;
  }
  .rempty1 {
    left: 18rem;
    top: 58rem;
    width: 29rem;
    height: 15rem;
  }
  .ven > p {
    font-size: 18px;
    max-width: 70%;
    line-height: 1.5rem;
  }
  .concept1 {
    max-width: 35%;
    left: 2rem;
  }
  .concept2 {
    max-width: 35%;
    left: 29rem;
  }
  .concept3 {
    max-width: 70%;
    left: 10rem;
    top: 38rem;
  }
  .we > p {
    margin: 3rem 0 1rem 0;
    font-size: 40px;
    font-weight: 100;
  }
}
@media (max-width: 845px) {
  .h {
    max-width: 70%;
  }
  .concept1 {
    top: -13rem;
    max-width: 70%;
    left: 10rem;
  }
  .concept2 {
    max-width: 70%;
    left: 10rem;
    top: 28rem;
  }
  .concept3 {
    max-width: 70%;
    left: 10rem;
    top: 78rem;
  }
}
@media (max-width: 777px) {
  .header > p {
    line-height: none;
  }
  .h {
    max-width: 80%;
  }
  .decorating {
    max-width: 55%;
  }
  .img1 {
    width: 30%;
    height: 60vh;
    top: 16rem;
    left: 1rem;
  }
  .img2 {
    width: 45%;
    height: 65vh;
    top: 25rem;
    left: 18rem;
  }
  .img3 {
    width: 35%;
    height: 25%;
    top: 45rem;
    left: 8rem;
  }
  .texted {
    top: 70rem;
    left: 1rem;
    width: 40%;
  }
  .img4 {
    width: 35%;
    height: 23rem;
    left: 22rem;
  }
  .jimg {
    width: 60%;
    top: 5rem;
    left: 3rem;
  }
  .real {
    width: 25rem;
    left: 7rem;
    top: 42rem;
  }
  .rempty3 {
    top: 32rem;
    left: -8rem;
  }
  .rempty3 > svg {
    width: 30rem;
    height: 30vh;
    fill: #c1b688;
  }
  .rempty {
    top: 39rem;
    left: 26rem;
  }
  section {
    width: 100%;
    height: 240vh;
    background: white;
  }
  .rempty1 {
    left: 5rem;
    top: 62rem;
  }
  .concept1 {
    top: -13rem;
    max-width: 70%;
    left: 6rem;
  }
  .concept2 {
    max-width: 70%;
    left: 6rem;
    top: 28rem;
  }
  .concept3 {
    max-width: 70%;
    left: 6rem;
    top: 78rem;
  }
  .driven {
    margin-bottom: 2rem;
  }
  header {
    width: 100%;
    height: 160vh;
  }
  .header h1 {
    font-size: 35px;
    font-weight: 600;
  }
}
/* responsiveness */
.section1{
  width: 100%;
  background-color: white;
  display: flex;
  padding: 4rem;
  gap: 3rem;
}
.img-int{
  width: 100%;
}
.img-int>img{
  width: 35rem;
  height: 100vh;
}
.int :nth-child(1){
  font-size: 400%;
  font-weight: 100;
  padding: 1.5rem 0 1.5rem 0;
}
.int :nth-child(2){
  line-height: 2rem;
  font-size: 18px;
}
.img-int1{
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 8rem;
}
.img-int1>img{
  width: 25rem;
  height: 70vh;
  border-radius: 50%;
}
.intb1{
  line-height: 2rem;
  font-size: 18px;
}
.more{
  width: 11rem;
  border: 3px solid gainsboro;
  color: black;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  margin-bottom: 30rem;
}
.intb1>a :hover{
  background-color: gainsboro;
}
.create-container{
  position: relative;
}
.create{
  position: absolute;
  top: -8rem;
  max-width: 40%;
  border: 1px solid white;
  background-color: white;
  margin-left: 4rem;
  z-index: 999;
  padding: 4rem 2rem 4rem 2rem;
}
.cr{
  font-size: 50px;
  margin-bottom: 3rem;
}
.create :nth-child(2){
  font-size: 22px;
  margin-bottom: 5rem;
}
.create .te{
  border: 2px solid #c1b688;
  width: 40%;
  text-align: center;
  background-color: #c1b688;
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.img-create{
  width: 50rem;
  position: absolute;
  z-index: 10;
  top: -23rem;
  left: 23rem;
}
.img-create>img{
  width: 50rem;
  height: 100vh;
}
.ccc{
  width: 30rem;
  height: 120vh;
  background-color: #C1B688;
  position: absolute;
  top: -27rem;
  left: 46rem;
}